<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="isremeber" value=""/>
    <add key="Account" value=""/>
    <add key="password" value=""/>
    <add key="ContinuousAddition" value=""/>
    <add key="defaultTimeSet" value=""/>
    <add key="startTime1" value=""/>
    <add key="endTime1" value=""/>
    <add key="startTime2" value=""/>
    <add key="endTime2" value=""/>
  </appSettings>
</configuration>